@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/bonsai-bg-small.jpeg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
  background-attachment: fixed;
}

/* NOTE: NAVIGATION */

.navbar {
  background-color: rgba(87, 87, 87, 0.81);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0.5rem;
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;
}

.logo a {
  text-decoration: none;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  text-shadow: 3px 3px 16px #000;
}

.logo a:visited {
  color: white;
}

.link ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}

.link a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  display: block;
  text-shadow: 3px 3px 16px #000;
  transition: 300ms;
}

.link ul :hover {
  color: #42CD75;
}

/* NOTE: FOOTER */

footer {
  color: white;
  background-color: rgba(87, 87, 87, 0.82);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  text-align: center;
}

footer p {
  padding-top: 5px;
}

/* NOTE: HOMEPAGE */

#active {
  background-color: rgba(170, 222, 130, 0.8);
}

.welcome {
  padding: 2rem 3rem 2rem;
  margin: 6rem 3rem 2rem;
  color: white;
  background-color: rgba(87, 87, 87, 0.41);
  max-width: 65%;
  font-size: 3.5vw;
}

.welcome h1 {
  font-size: 1.5em;
}

#description span {
  color: #DAF7A6;
}

#description :hover {
  color: #42CD75;
  font-weight: bold;
}

/* NOTE: ABOUT */

.container-bio {
  display: flex;
  color: white;
  margin: 3rem 10% 3rem;
  padding: 3rem 3rem;
  text-align: justify;
}

.container-bio h1 {
  padding-bottom: 5%;
}

.about-text {
  background-color: rgba(87, 87, 87, 0.41);
  padding: 1rem;
}

.about-text a {
  color: inherit;
}

.about-text a:hover {
  color: black;
  text-shadow: 3px 3px 16px #000;
}

#headshot {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-left: 5rem;
}

/* NOTE: WORK */
.work-page {
  width: 70%;
  height: auto;
  margin: auto;
  background-color: rgba(87, 87, 87, 0.41);
  color: white;
  padding-bottom: 1em;
}

.work-page a {
  color: inherit;
}

.work-page a:hover {
  color: black;
  text-shadow: 3px 3px 16px #000;
}

.work-page h1 {
  padding: 2%;
}

.work-page p {
  padding-left: 2em;
  padding-right: 2em;
}

.container-work {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.container-work iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  display: block;
  padding: 30px;
}

/* NOTE: CONTACT */

.container-contact {
  color: white;
  background-color: rgba(87, 87, 87, 0.41);
  display: flex;
  margin: 3rem 10% 3rem;
}

.column-contact {
  flex: 50%;
  padding: 5%;
  max-width: 100%;
  list-style: none;
}


.container-contact h1 {
  padding-bottom: 5%;
}

.container-contact ul {
  margin-left: 40px;
  list-style: none;
}

.container-contact ul a {
  text-decoration: none;
  color: white;
}

.container-contact ul a:hover {
  text-decoration: none;
  color: black;
  text-shadow: 3px 3px 16px #000;
}

.container-contact :last-child ul {
  margin-top: 2.4rem;
  font-size: 1.5em;
  text-overflow: ellipsis;
}

/* NOTE: RESPONSIVE */

@media only screen and (max-width: 800px) {

    .container-bio {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      margin: 0;
    }

    #headshot {
      margin: 0;
      padding-top: 0;
      padding-bottom: 4vh;
      width: 300px;
    }

}

@media only screen and (max-width: 550px) {

    body {
      max-width: 100%;
    }

  .navbar {
    display: flex;
    flex-direction: column;
  }

  .link li:first-child {
    display:none;
  }

  .welcome {
    max-width: 80%;
    text-align: center;
    margin: 1rem auto;

  }

  .container-bio {
    width: 100%;
    padding: 0;
    padding-bottom: 2rem;
  }

  #headshot {
    padding-top: 2rem;

  }

  .about-text {
    max-width: 100%;
  }

  .container-contact {
    max-width: 100%;
    margin: 0;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  .links ul {
    display: flex;
    justify-content: space-around;
  }

  .links span {
    visibility: hidden;
  }

  .work-page {
    width: 100%;
  }

}
